/* The CSS file */
.link {
  fill: none;
  stroke: #000;
  stroke-opacity: .05;
}
.link:hover {
  stroke-opacity: .5;
}
.node text {
  pointer-events: none;
  text-shadow: 0 1px 0 #fff;
}

.node rect {
	border-radius: 50px;	
}

@font-face{
  font-family: Geosans;
  src: url("GeosansLight.ttf")
}

body {
  margin: 0 auto;
  width: 50%;
  padding-top: 0%;
  font-family: Geosans, "Helvetica Neue", Arial, sans-serif;
  color: #444;
  background-color: #fffdfb;
  line-height: 1.5;
}

.header {
  overflow: hidden;
  background-color: #f1f1f1;
  padding: 5px 5px;
}

.legend {
  font-family: 'Raleway', sans-serif;
  fill: #333333;
}

.tooltip {
  fill: #333333;
}

select {

  /* styling */
  background-color:whitesmoke;
  border: thin solid rgb(152, 141, 212);
  border-radius: 4px;
  display: inline-block;
  font: inherit;
  line-height: 1em;
  padding: 0.5em 3em 0.5em 0.5em;
  text-align: center
 
}

div.tooltip_node {	
  position: aboslute;
/* left: 20px; */
  top: 50px;
  text-align: center;		
  width: 170;					
  height: 40px;
  padding: 10px;				
  font: 14px tahoma;	
  background: #fbf9fbc9;	
  border: 0px;		
  border-radius: 0px;			
  pointer-events: none;
}

div.tooltip_link {	
  position: absolute;			
  text-align: center;			
  width: 250px;					
  height: 100px;
  padding: 10px;				
  font: 14px tahoma;		
  background: #fbf9fbc9;	
  border: 0px;		
  border-radius: 0px;			
  pointer-events: none;
}

svg {
padding-left:8%
}