.link {
  fill: none;
  stroke: #000;
  stroke-opacity: .1;
}
.link:hover {
  stroke-opacity: .4;
}
.node text {
  pointer-events: none;
  font: 8px tahoma;
}

.node rect {
	border-radius: 50px;	
}

div.tooltip_node {	
    position: absolute;			
    text-align: center;			
    width: 170;					
    height: 200px;
    padding: 10px;				
    font: 14px tahoma;
	font-weight: bold;	
    background: #fbf9fb;	
    border: 0px;		
    border-radius: 0px;			
    pointer-events: none;
}

div.tooltip_link {	
    position: absolute;			
    text-align: center;			
    width: 80px;					
    height: 28px;
    padding: 2px;				
    font: 14px tahoma;		
    background: #fbf9fb;	
    border: 0px;		
    border-radius: 0px;			
    pointer-events: none;
}