/* The CSS file */

/* Body */
body {
  margin: 0 auto;
  padding-top: 3%;
  font-family: Geosans, 'azo-sans-web', sans-serif;
  color: #444;
  /*background-color: #151d1e;*/
  background-size:cover;
  background: linear-gradient(to bottom, #151d1e, #2a383a, #415659, #597579, #72969c);
  /*background-image: linear-gradient(to right bottom, #eac0cc, #d6c0dd, #b5c3e5, #96c6dd, #8ac6c5);*/
  line-height: 1.5;
}

/* Title */
h1 {
  color: white;
  font-family: Geosans, 'azo-sans-web', sans-serif;
}

/* Horizontal Line */
hr#one {
  width: 50%;
  height: 0.8px;
  margin: 3em auto;
  border-color: rgb(151, 218, 190);
}

/* Legend radar chart */
.legend {
  font-family: 'Raleway', sans-serif;
  fill: white;
  font-size: 1.4em;
  
}

/* Tooltip radar chart */
.tooltip {
  fill: #fff;
}

/* Icon man  & woman */
.men {
padding-left : 7%;
filter: brightness(0) invert(1);
}

.women {
  padding-left: 29%;
  filter: brightness(0) invert(1);
}

/* Styling select */
select {
  background-color:rgb(138, 207, 168);
  border: thin solid rgb(151, 218, 190);
  border-radius: 4px;
  display: inline-block;
  font: inherit;
  line-height: 1em;
  padding: 0.5em 3em 0.5em 0.5em;
  text-align: center;
  width:120px;
}

.select_men {
  padding-left: 5%;
}

.select_women {
  padding-left: 23%;
}

/* Node */
div.tooltip_node {	
  top: 50px;	
  width: 600px;					
  height: 40px;
  padding: 10px;				
  font: 14px tahoma;	
  background: #fbf9fbc9;	
  border: 0px;		
  border-radius: 0px;			
  pointer-events: none;
  padding-left:5%;
  /* fade animation */
  opacity: 0;
  transition: opacity 1s;
}

/* Link */
div.tooltip_link {	
  position: absolute;			
  text-align: center;			
  width: 250px;					
  height: 100px;
  padding: 10px;				
  font: 14px tahoma;		
  background: #fbf9fbc9;	
  border: 0px;		
  border-radius: 0px;			
  pointer-events: none;
  /* fade animation */
  opacity: 0;
  transition: opacity 1s;
}

svg {
padding-left:4%;
}

.link {
  fill: none;
  stroke: #fff;
  stroke-opacity: 0.5;
}
.link:hover {
  stroke-opacity: .8;
}

/* Node text */
.node text {
  pointer-events: none;
  color: #fff;
  font-size: 12px;
}

.node rect {
	border-radius: 50px;	
}

@font-face{
  font-family: Geosans;
  src: url("GeosansLight.ttf")
}

@import "compass/css3";

@import url(https://fonts.googleapis.com/css?family=Megrim);

