/* The CSS file */
body {
  margin: 0 auto;
  padding-top: 3%;
  font-family: Geosans, 'azo-sans-web', sans-serif;
  color: #444;
  background-color: #151d1e;
  line-height: 1.5;
}

h1 {
  color: #fff;
  font-family: Geosans, 'azo-sans-web', sans-serif;
}

hr.style1{
	border-top: 1px solid #8c8b8b;
}

.legend {
  font-family: 'Raleway', sans-serif;
  fill: #fff;
  font-size: 1.4em;
}

.tooltip {
  fill: #333333;
}

.men {
padding-left : 7%;
filter: brightness(0) invert(1);
}

.women {
  padding-left: 29%;
  filter: brightness(0) invert(1);
}

select {

  /* styling */
  background-color:rgb(138, 207, 168);
  border: thin solid rgb(151, 218, 190);
  border-radius: 4px;
  display: inline-block;
  font: inherit;
  line-height: 1em;
  padding: 0.5em 3em 0.5em 0.5em;
  text-align: center;
}

.select_men {
  padding-left: 5%;
}

.select_women {
  padding-left: 26%;
}

div.tooltip_node {	
  top: 50px;	
  width: 600px;					
  height: 40px;
  padding: 10px;				
  font: 14px tahoma;	
  background: #fbf9fbc9;	
  border: 0px;		
  border-radius: 0px;			
  pointer-events: none;
  padding-left:5%;
}

div.tooltip_link {	
  position: absolute;			
  text-align: center;			
  width: 250px;					
  height: 100px;
  padding: 10px;				
  font: 14px tahoma;		
  background: #fbf9fbc9;	
  border: 0px;		
  border-radius: 0px;			
  pointer-events: none;
}

svg {
padding-left:4%;
}

.link {
  fill: none;
  stroke: #fff;
  stroke-opacity: 0.6;
}
.link:hover {
  stroke-opacity: .8;
}

.node text {
  pointer-events: none;
  color: #fff;
}

.node rect {
	border-radius: 50px;	
}

@font-face{
  font-family: Geosans;
  src: url("GeosansLight.ttf")
}

@import "compass/css3";

@import url(https://fonts.googleapis.com/css?family=Megrim);

hr#one {
  width: 50%;
  height: 0.2px;
  margin: 3em auto;
  border-color: rgb(151, 218, 190);
  color: rgb(184, 86, 161)
}