/* The CSS file */
@font-face{
  font-family: Geosans;
  src: url("GeosansLight.ttf")
}
body {
  margin: 0 auto;
  width: 30%;
  padding-top: 10%;
  font-family: Geosans, "Helvetica Neue", Arial, sans-serif;
  color: #444;
  background-color: #fffdfb;
  line-height: 1.5;
  background-image: url("letter_love_img.png");
  background-repeat: no-repeat;
  background-position: right bottom;
  background-attachment: fixed;
}
