<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="utf-8">
  <link rel="shortcut icon" href="favicon.ico">
  <link rel="stylesheet" type="text/css" href="/static/style.css" media="screen">
  <title>IGR 204 : Speed Dating (Group H)</title>
</head>

<body>
  <p>
    <center>
    Find love ! Click on the love letter to find your right one
    <a href="/graph.html">
    <img src="/static/letter_love_img.png" alt="letter_love_img" width="200" height="200">
    </a>
    </center>
  </p>
</body>

</html>
