<!DOCTYPE html>
<meta charset="utf-8">
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="/static/style.css" media="screen">
  <title>IGR 204 : Speed Dating (Group H)</title>
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico')}}" type="image/x-icon">
</head>

<body>
  <p>
    First graph
  </p>

  <p>
  <!-- Load d3.js -->
  <script src={{url_for('static', filename='js/d3/d3.min.js')}}></script>
  <!-- Load the sankey.js function -->
  <script src={{url_for('static', filename='js/sankey.js')}}></script>
  <!-- Create a div where the graph will take place -->
  <div id="my_dataviz"></div>
  <link rel="stylesheet" type="text/css" href={{url_for('static', filename='style.css')}}>
  <!-- Load the chart_sankey.js function -->
  <script src={{url_for('static', filename='js/chart_sankey.js')}}></script>
  </p>

</body>
